@media (max-width: 768px){
    nav ul {
        width: 100%;
        justify-content: center;
        gap: 50px;
    }

    nav ul li a {
        font-size: 0.8em;
    }

    #one, #two, #three, #two.twoplus {
        width: 170px;
        height: 230px;
    }

    #top-sec {
        margin-left: 10px;
    }

    @keyframes one {
        100% {
            rotate: 10deg;
            transform: translateX(180px);
        }
    }
    @keyframes three {
        0% {
        }
        100% {
            rotate: -10deg;
            transform: translateX(-180px);
        }
    }

    #h1-sec {
        font-size: 7em;
    }
    #h3-sec {
        font-size: 1.5em;
    }
}

@media (max-width: 425px) {
    nav ul {
        width: 100%;
        justify-content: center;
        gap: 40px;
        margin-top: 30px;
    }

    nav ul li a {
        font-size: 0.7em;
    }

    #button {
        width: 20px;
        right: 10px;
        bottom: 12px;
    }

    #one, #two, #three, #two.twoplus{
        width: 120px;
        height: 170px;
    }

    @keyframes one {
        100% {
            rotate: 10deg;
            transform: translateX(130px);
        }
    }
    @keyframes three {
        0% {
        }
        100% {
            rotate: -10deg;
            transform: translateX(-130px);
        }
    }

    #wrapper-text {
        line-height: 45px;
        transform: translateY(-25px);
    }

    #h1-sec {
        font-size: 5.6em;
    }
    #h3-sec {
        font-size: 1.4em;
    }

}

@media (max-width: 375px){
    nav ul {
        gap: 30px;
    }

    nav ul li a{
        font-size: 0.65em;
    }

    @keyframes one {
        100% {
            rotate: 10deg;
            transform: translateX(110px);
        }
    }
    @keyframes three {
        0% {
        }
        100% {
            rotate: -10deg;
            transform: translateX(-110px);
        }
    }

    #two {
        transform: translateY(-20px) ;
        transition: 0.3s;
    }
    #two.twoplus{
        scale: 2;
        transform: translateY(-20px);
    }

    #h3-sec {
        font-size: 1.4em;
    }
    @keyframes h1 {
        0%{
            transform: translateY(-130px);
            opacity: 0;
        }
    
        30% {
            opacity: 0;
        }
    }
}